services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql

  mail:
    image: maildev/maildev
    restart: always
    ports:
      - 1025:1025
      - 1080:1080

volumes:
  pgdata:
