@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes: false;
  log: false;
}
@plugin './catppuccin-latte.ts';
@plugin './catppuccin-mocha.ts';

@utility input {
  @apply rounded-xs;
}
@utility select {
  @apply rounded-xs;
}
@utility textarea {
  @apply rounded-xs;
  min-height: 0;
}

.input-ghost:focus,
.textarea-ghost:focus,
.select-ghost:focus {
  border-color: transparent;
  outline-color: color-mix(in oklch, var(--color-base-content) 50%, transparent);
}
